<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <header>
        <img src="/img/logo.png" alt="Hello world">
    </header>
    {{{body}}}
</body>
</html>
